/* #100906 -> #201e20 
#EFAC2A -> #ddc3a5
#B44399  ->#004b91
*/


.navbar-header{
    background-color: #201e20;
    font-weight: 600;
    /* position:sticky;
    top:0%; */
    z-index: 1;
}

.donate-btn{
    font-size:large;
    border-radius: 100px;
    padding:7px 15px;
    background-color: #ddc305;
    font-weight:700;
    
}
.donate-btn:hover{
    background-color: #201e20;
    color:white;
    border:1px solid #ddc305;
    transition:all ease-in 0.3s;
}
.navbar-collapse{
    font-size:large;
}
.nav-item{
  
 display:inline-block;
 padding:7px 15px;
    font-size:large;
    /* border-bottom: 4px solid#100906; */
}


.nav-item::after {
    position: relative;
  left: 0px;
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #EFAC2A;
    /* transition: width .3s; */
    color:white;
    -webkit-transform: scaleX(0.0001);
  -ms-transform: scaleX(0.0001);
  transform: scaleX(0.0001);
  
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}

.nav-item:hover::after {

   -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-toggler{
    border:none;

}