*{
  font-family: 'Roboto', sans-serif;
}
::selection{
  color:white;
  background-color:#891f5c;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  }
  ::-webkit-scrollbar {
  width: 0px;
   } /* remove scrollbar space /
  background: transparent; / optional: just make scrollbar invisible /
  }
  / optional: show position indicator in red */
  /* ::-webkit-scrollbar-thumb {
  background: #FF0000;
  } */